/* Global Styles */
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 20px;
  background-color: #f7f7f7;
}

/* Header Style */
h1 {
  border-bottom: solid 2px black;
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Button Styles */
button {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

button:hover {
  background: linear-gradient(to right, #5b86e5, #36d1dc);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  color: #fff;
  transform: translateY(-7px);
}
